$white: #FFFFFF;
$gray-01: #808080;
$gray-02: #1A1A1A;
$gray-03: #E0E0E0;
$gray-04: #404040;
$gray-05: #393939;
$gray-06: #666666;
$primary-color: #012169;
$secondary-color: #0041C2;
$light-muted: #F2F5FB;
$green: #2B7200;